<p class="topicsCategoryTitle">Sauces</p>
                        <input type="checkbox" name="" id="" checked><label for="">Tomato Sauce</label><br>
                        <input type="checkbox" name="" id=""><label for="">BBQ Sauce</label><br>

                        <p class="topicsCategoryTitle">Cheese</p>
                        <input type="checkbox" name="" id=""><label for="">Cheese</label><br>

                        <p class="topicsCategoryTitle">Meats</p>
                        <input type="checkbox" name="" id=""><label for="">Beef</label><br>
                        <input type="checkbox" name="" id=""><label for="">Ham</label><br>
                        <input type="checkbox" name="" id=""><label for="">Pepperoni</label><br>
                        <input type="checkbox" name="" id=""><label for="">Chicken</label><br>
                        <input type="checkbox" name="" id=""><label for="">Bacon</label><br>
                        <input type="checkbox" name="" id=""><label for="">Shrimp</label><br>

                        <p class="topicsCategoryTitle">Vegetables</p>
                        <input type="checkbox" name="" id=""><label for="">Mushrooms</label><br>
                        <input type="checkbox" name="" id=""><label for="">Onions</label><br>
                        <input type="checkbox" name="" id=""><label for="">Bell peppers</label><br>
                        <input type="checkbox" name="" id=""><label for="">Pineapple</label><br>
                        <input type="checkbox" name="" id=""><label for="">Maize/Corn</label><br>
                        <input type="checkbox" name="" id=""><label for="">Jalapeños</label><br>
                        <input type="checkbox" name="" id=""><label for="">Tomato</label><br>
                        <input type="checkbox" name="" id=""><label for="">Banana</label><br>

                        <p class="topicsCategoryTitle">Spices</p>
                        <input type="checkbox" name="" id=""><label for="">Garlic Powder</label><br>
                        <input type="checkbox" name="" id=""><label for="">Garlic Oil</label><br>
                        <input type="checkbox" name="" id=""><label for="">Chili Flakes</label><br>
                        <input type="checkbox" name="" id=""><label for="">Cayenne Pepper</label><br>
                        <input type="checkbox" name="" id=""><label for="">Black Pepper</label><br>