<p>login page</p>
<a href="/login/register">don't have a user? register here</a>

<form action="/login" method="post">
    <label>email</label><input id="email" name="email">
    <label>password</label><input type="password", id="password" name="password">
    <button type="submit">login</button>
</form>
