<p>register page</p>
<a href="/login">already have a user? login here</a>

<form action="/login/register" method="post">
    <label>Name</label><input id="name" name="name">
    <br>
    <label>Email</label><input id="email" name="email">
    <br>
    <label for="">password</label><input type="password" name="password" id="password">
    <br>
    <label>Telephone Number</label><input id="telephoneNumber" name="telephoneNumber">
    <br>
    <label>Street Name</label><input id="streetName" name="streetName">
    <br>
    <label>houseNumber</label><input id="houseNumber" name="houseNumber">
    <br>
    <label>Town</label><input id="town" name="town">
    <br>
    <label>Birth Date:</label><label>day:</label><input id="birthDateDay" name="birthDateDay"> <label>month:</label><input id="birthDateMonth" name="birthDateMonth"> <label>year:</label><input id="birthDateYear" name="birthDateYear">
    <br>
    <label>Gender</label>
    <br>
    <input type="radio" id="gender" name="gender" value="male"><label for="">Male</label> 
    <input type="radio" id="gender" name="gender" value="female"><label>Female</label>
    <br>
    <button type="submit">submit/register</button>
</form>