<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../../css/ordersInOven.css">
</head>
<body>
    <h1>Orders in the oven</h1>
<hr>
<div navigation>
    <a href="/employeePages/newOrders">Orders In queue</a>
    <a href="/employeePages/ordersReadyForPickUp">Orders Ready For Pick Up</a>
    <a href="/employeePages/ordersReadyForDelivery">Orders Ready To Be Delivered</a>

</div>
<hr>


<div class="DetailedOrderWrapper">
    <div class="SingleOrderWrapper">
        <div class="customerInformation">
            <div class="customerInformationLeftDiv">
                <p class="orderNumber">Order Number: 21</p>
                <p class="orderDate">Date: 23/05/2023</p>
                <p class="orderDeadline">Order Deadline: 18:35</p>
            </div>
            <div class="customerInformationRightDiv">
                <p class="customerName">Name: Teitur</p>
                <p class="customerTelephoneNumber">Telephone: 12345678</p>

            </div>
        </div>
        <div class="lineWrapper">
            <hr>
        </div>

        <div class="orderItemsWrapper">
            <div class="OrderItemLeftSide">
                <div class="orderItem">
                    <p class="orderItemName">3x Meat Feast 16"</p>
                    <p class="orderItemIngredients"> - Tomato Sauce x1 
                        <br>
                        - Beef x1
                        <br>
                        - Ham x1
                        <br>
                        - Chicken x1
                        <br>
                        - Pepperoni x1
                        <br>
                        - Cheese x1
                        <br>
                        - Bacon x2
                    </p>
                    <p>ItemPrice: 175,00 Kr</p>
                    <p>ItemPriceTotal: 525,00 Kr</p>
                </div>
            </div>
            <div class="OrderItemRightSide">

                <div class="orderItem">
                    <p class="orderItemName">2x Rolling Stones"</p>
                    <p class="orderItemIngredients"> - Tomato Sauce x1 
                        <br>
                        - Beef x1
                        <br>
                        - Ham x1
                        <br>
                        - Pepperoni x1
                        <br>
                        - Cheese x1

                    </p>
                    <p>ItemPrice: 165,00 Kr</p>
                    <p>ItemPriceTotal: 495,00 Kr</p>
                </div>

            </div>
        </div>

        <div class="lineWrapper">
            <hr>
        </div>
        <div class="orderFooter">

            <p class="orderTotalPriceLabel">Order Total Price: 1020,00 Kr</p>

            <button>Order is complete</button>
        </div>
    </div>

    <div class="SingleOrderWrapper">
        <div class="customerInformation">
            <div class="customerInformationLeftDiv">
                <p class="orderNumber">Order Number: 20</p>
                <p class="orderDate">Date: 23/05/2023</p>
                <p class="orderDeadline">Order Deadline: 18:30</p>
            </div>
            <div class="customerInformationRightDiv">
                <p class="customerName">Delivery Address: test address, Tórshavn</p>
                <p class="customerTelephoneNumber">Telephone: 12345678</p>

            </div>
        </div>
        <div class="lineWrapper">
            <hr>
        </div>

        <div class="orderItemsWrapper">
            <div class="OrderItemLeftSide">
                <div class="orderItem">
                    <p class="orderItemName">3x Meat Feast 16"</p>
                    <p class="orderItemIngredients"> - Tomato Sauce x1 
                        <br>
                        - Beef x1
                        <br>
                        - Ham x1
                        <br>
                        - Chicken x1
                        <br>
                        - Pepperoni x1
                        <br>
                        - Cheese x1
                        <br>
                        - Bacon x2
                    </p>
                    <p>ItemPrice: 175,00 Kr</p>
                    <p>ItemPriceTotal: 525,00 Kr</p>
                </div>
            </div>
            <div class="OrderItemRightSide">

                <div class="orderItem">
                    <p class="orderItemName">2x Rolling Stones"</p>
                    <p class="orderItemIngredients"> - Tomato Sauce x1 
                        <br>
                        - Beef x1
                        <br>
                        - Ham x1
                        <br>
                        - Pepperoni x1
                        <br>
                        - Cheese x1

                    </p>
                    <p>ItemPrice: 165,00 Kr</p>
                    <p>ItemPriceTotal: 495,00 Kr</p>
                </div>

            </div>
        </div>

        <div class="lineWrapper">
            <hr>
        </div>
        <div class="orderFooter">
            <p class="orderTotalPriceLabel">Order Price: 1020,00 Kr</p>
            <br>
            <p class="orderTotalPriceLabel">Delivery price: 70,00 Kr</p>
            <br>
            <p class="orderTotalPriceLabel">Order Total Price: 1090,00 Kr</p>

            <button>Order is complete</button>
        </div>
    </div>
</div>


</body>
</html>